/**
	Everything is important, to make sure the cms has these styles.
*/

.right * {
	font-family: Arial, Helvetica, sans-serif !important;
}

.right p, ul, td, th {
	font-size: 12px !important;
}
	.right p {
		color: #666 !important;
	}

.right h1, h2 {
	color: #222 !important;
}
	.right h1 {
		font-size: 20px !important;
	}
	.right h2{
		font-family:"Helvetica Neue",Helvetica,Arial,Sans-serif !important;
		font-size:12px !important;
		font-weight:bold !important;
	}
.right a {
	color: #162f42 !important;
	text-decoration: underline !important;
}

.right a:hover {
	color: #0074c6 !important;
	text-decoration: underline !important;
}

.right a img {
	border-style: none !important;
}
