/**
 * SiteTree
 */
ul.tree span.a.MailType, 
ul.tree span.a.last.MailType, 
ul.tree span.a.children.MailType {
	background-image: none;
}
ul.tree span.a.MailType span.c, 
ul.tree span.a.last.MailType span.c, 
ul.tree span.a.children.MailType span.c {
	margin: 0;
}

/**
 * Form
 */
div#ImportFile iframe {
	width: 80%;
	height: auto;
	border: none;
}

table.ReportField {
	position: relative;
	border: solid 1px #82C0FF;
	border-collapse: collapse;
}

	table.ReportField thead th {
		background-color: #82C0FF;
	}
	
	table.ReportField td, table.ReportField {
		border: solid 1px #82C0FF;
	}
	
	table.ReportField tr {
		border-bottom: solid 1px #82C0FF;
	}