#ReportSelector_holder {
	background-color: #EEE;
	border-bottom: 1px #CCC solid;
	margin: 0;
	padding: 3px;
}

#right iframe.AWStatsReport {
	width: 98%;
	height: 85%;
}

.ReportAdmin h4 {
	border-bottom: 1px #AAA solid;
	margin-bottom: 0.5em;
}

.ReportAdmin .right form h4 {
	font-size: 11px;
}

.ReportAdmin .filters {
	overflow: auto;
}

.ReportAdmin .filters .field {
	padding: 0;
}

.ReportAdmin .filters > .field {
	float: left;
	clear: none;
	margin-right: 1em;
	margin-bottom: .5em;
}

.ReportAdmin .right form .field label.left {
	width: auto;
	height: 15px;
}

.ReportAdmin .right form .field .middleColumn {
	width: auto;
	padding: 0;
}

.ReportAdmin .filters .field .middleColumn {
	background: none;
}

.ReportAdmin .filters .field.checkbox {
	margin-top: 18px;
	padding: 0;
}

.ReportAdmin .filters .field.datetime .field.date,
.ReportAdmin .filters .field.datetime .field.time,
.ReportAdmin .filters .field.datetime .field.dropdown {
	float: left;
}

.ReportAdmin .filters .field.datetime select {
	width: 14em;
}