.statstab {
	border-top: 1px solid #aaa !important;
}

#right {
	overflow-y: scroll !important;
}

table.statstable {
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 0 15px;
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-collapse: separate;
	border: 1px solid #aaa;
}

.statstable thead tr th {
	color: #000;
	padding: 4px;
	cursor: pointer;
	background: #EBEADB url(../images/tables/thead.png) repeat-x left bottom;
	border-left: 1px solid #fff;
	border-right: 1px solid #aca899;
}
	.statstable th.forwardSort {
		background: url(../images/statistics/desc.gif) no-repeat center right;
	}
	.statstable th.reverseSort {
		background: url(../images/statistics/asc.gif) no-repeat center right;
	}
	.statstable thead th a {
		text-decoration: none;
		color: #000;
	}

.statstable td {
	background: #eee;
	padding: 4px;
}

.statstable tr.alt td {
    background: #fff;
}

ul.tablePaginater {
	list-style:none;
	padding: 0;
	margin: 1px 0 1em 0;
	text-align:left;
}
ul.tablePaginater li {
	float: left;
	margin: 5px 4px;
	color: #666;
	list-style: none;
	cursor: pointer;
}
ul.tablePaginater li.currentPage p {
	border-color: #1786FF !important;
	background: #C2DAF4;
	color: #000;
}
ul.tablePaginater li p {
	color: #666;
	text-decoration: none;
	outline: none;
	border: 1px solid #ccc;
	cursor:pointer;
	text-align: center;
	padding: 2px 5px;
}

ul.tablePaginater li p:hover {
	background-color: #C2DAF4;
}

ul.tablePaginater li p:focus {
	color:#333;
	text-decoration:none;
	outline:none;
	border-color:#aaa;
}
td.sized1 {
	width:16em;
	text-align:left;
}
td.sized2 {
	width:10em;
	text-align:left;
}
td.sized3 {
	width:7em;
	text-align:left;
}

.statstable tbody tr:hover td,
.statstable tbody tr.ieRowHover td {
	background-color: #ffffcc;
}

ul.tree li#stoverview a {
	background: url(../images/treeicons/task-file.gif) no-repeat;
}

ul.tree li#stusers a {
	background: url(../images/treeicons/multi-user.gif) no-repeat;
}

ul.tree li#stviews a {
	background: url(../images/treeicons/preferences-file.gif) no-repeat;
}

ul.tree li#sttrends a {
	background: url(../images/treeicons/element-file.gif) no-repeat;
}

ul.tree li#stbrowsers a, ul.tree li#stos a {
	background: url(../images/treeicons/reports-file.png) no-repeat;
}
