.cms .AssetAdmin {
	.cms-content-fields {
		.cms-edit-form.AssetAdmin {
			width: 100%;
			overflow-y:auto; //adds scrolling only to the datagrid
		}

		/**
		 * DEPRECATED:
		 * .cms-content-tools will be removed in 4.0
		 * Use .cms-content-filters instead.
		 */
		.cms-content-tools .cms-panel-content {
			overflow:hidden; //removes scollbar from search field in filter
			.cms-search-form {
				height:100%; //increases height of search form to accomodate dropdown
			}
		}
	}

	.cms-content-toolbar {
		.cms-page-add-button {
			@include background-image (linear-gradient(lighten(#e6e6e6, 5%), darken(#e6e6e6, 5%)));
			border-color:#c0c0c2;
			span.btn-icon-add {
				height:17px;
			}
			span.ui-button-text {
				color:#393939;
				text-shadow: white 0 1px 1px;
			}
		}
	}

	#Root_TreeView {
		.cms-tree ul .class-Folder a span.text span.jstree-foldericon {
			background: url(../images/blue-folder-horizontal.png) no-repeat;
			width:16px;
			height:16px;
			float:left;
			display:block;
			margin-right:4px;
		}
	}

	table.ss-gridfield-table {
		td {
			&.bottom-all {
				padding:0.7em;
			}
		}
	}
}

