.cms .AssetAdmin {
	.cms-content-fields {
		overflow:hidden; //removes scrolling from filter panel
		.cms-edit-form.AssetAdmin {
			overflow-y:auto; //adds scrolling only to the datagrid 
		}
		.cms-content-tools .cms-panel-content {
			overflow:hidden; //removes scollbar from search field in filter
			.cms-search-form {
				height:100%; //increases height of search form to accomodate dropdown
			}
		}	
	}
	.cms-content-header-tabs {
		.ui-tabs-nav {
			li {
				a {
					font-weight: bold;
					line-height: 16px;
					padding: 12px 20px 12px;
					text-indent:-9999em;
					background: url(../images/content-header-tabs-sprite.png) no-repeat;
				}

				&.content-treeview a {
					background-position: 2px 0px;
				}
				&.content-galleryview a {
					background-position: -160px 0px;
				}
				&.content-listview a {
					background-position: -39px 0px;
				}
			}
			
			.ui-state-active, 
			.ui-widget-content .ui-state-active, 
			.ui-widget-header .ui-state-active {
				border: {
					top:none;
				}
		
				&.content-treeview a {
					background-position: 1px -40px;
				}
				&.content-galleryview a {
					background-position: -161px -40px;
				}
				&.content-listview a {
					background-position: -38px -40px;
				}
			}
		}
	}

	.cms-content-toolbar {
		.cms-page-add-button {
			@include background-image (linear-gradient(lighten(#e6e6e6, 5%), darken(#e6e6e6, 5%)));
			border-color:#c0c0c2;
			span.btn-icon-add {
				height:17px;
			}
			span.ui-button-text {
				color:#393939;
				text-shadow: white 0 1px 1px;
			}
		}
	}	

	#Root_TreeView {
		.cms-tree ul .class-Folder a span.text span.jstree-foldericon {
			background: url(../images/blue-folder-horizontal.png) no-repeat;
			width:16px;
			height:16px;
			float:left;
			display:block;
			margin-right:4px;
		}
	}

	#Form_EditForm_File {
		td {
			// Taken care of by minimum image sizes
			padding-top: 0;
			padding-bottom: 0;
			&.bottom-all {
				padding:0.7em;
			}
		}
		td.col-StripThumbnail {
			padding: 1px 5px;
			width: 32px;
			height: 32px;

			img {
				width: 32px;
				height: 32px;
			}
		}
		tr[data-class=Folder] {
			td.col-StripThumbnail {
				background: transparent url(../images/treeicons/blue-folder-horizontal.png) no-repeat center;
			}
		}
		tr[data-class=File] {
			td.col-StripThumbnail {
				background: transparent url(../images/treeicons/blue-document.png) no-repeat center;
			}
		}
	}
} 
	
