/**
 * Style  custom to the CMSMain admin interface. CMSMain extends the built in 
 * SilverStripe admin section styles. As much as possible we want to use those 
 * built in styles. If anything in this file can be implemented in a generic 
 * way then it should be include in the admin scss files.
 *
 * @package cms
 */

/** ------------------------------------------------------------------
 * Page History Section.
 * ----------------------------------------------------------------- */
#cms-page-history-versions {
	tr {
		&.loading {
			color: #999;
			
			td {
				
				&:hover {
					cursor: none;
				}
			}
		}
	}
	td {
		&:hover {
			cursor: pointer;
		}
	}
}

.CMSPageHistoryController {
	ins {
		background-color: #DFD;
		padding: 2px;
		text-decoration: none;
	}

	del {
		background-color: #FDD;
		padding: 2px;
		color: darken(#FDD, 30%);
	}
}

/** --------------------------------------------
 * Tree View (collapsed for sidebar)
 * -------------------------------------------- */
#cms-content-treeview {
	.cms-tree-expand-trigger {
		display: none; // Don't show trigger in expanded mode
	}
}

.cms-content-tools { // Hide certain elements when shown in "sidebar mode"
	#cms-content-treeview {
		.cms-content-toolbar {
			border-bottom:none;
			box-shadow:none;
			margin-bottom:8px;
			.cms-page-add-button {
				margin-top:8px;
			}
		}
		.cms-tree-view-modes,
		.cms-content-batchactions {
			display: none;
		}
		.cms-tree-expand-trigger {
			display: inline-block;
			margin:0 0 2px 0;
			position:absolute;
			top:8px;
			right:4px;
			span.ui-button-text{
					padding-right:8px;
			}
		}

		.cms-tree {
			.badge,
			a > .jstree-icon {
				display: none;
			}
		}
	}
}

/** ------------------------------------------------------------------
 * URLSegment field
 * ----------------------------------------------------------------- */
.field.urlsegment {

	&.disabled {
		color: #444;
		padding-left: 0px;
		margin-left: 0px;
		background: none;
		border-color: transparent;
	}

	.prefix,
	.preview {
		padding-top: 8px;
		display: inline-block;
	}

	.prefix {
		color: #777;
	}

	.cancel, .update, .edit {
		margin-left: 7px;
	}
}