/**
 * Style  custom to the CMSMain admin interface. CMSMain extends the built in 
 * sapphire admin section styles. As much as possible we want to use those 
 * built in styles. If anything in this file can be implemented in a generic 
 * way then it should be include in the admin scss files.
 *
 * @package cms
 */

/** ------------------------------------------------------------------
 * Page History Section.
 * ----------------------------------------------------------------- */
#cms-page-history-versions {
	tr {
		&.loading {
			color: #999;
			
			td {
				
				&:hover {
					cursor: none;
				}
			}
		}
	}
	td {
		&:hover {
			cursor: pointer;
		}
	}
}

/** ------------------------------------------------------------------
* Add Page pop-up Section.
* ----------------------------------------------------------------- */
$SectionHeaderColor: #5F6160;
$SectionHeaderFontSize: 14px;
#cms-page-add-form {
    background: url("../../sapphire/admin/images/textures/bg_cms_main_content.png") repeat scroll left top #F0F3F4;

	#PageType {
		.middleColumn {
			margin: 0;
			padding: 0;

			.optionset li {
				width: 100%;


			}
		}

		li {
			&.selected {
				background-color: rgba(255,255,153, 0.5); /*background-color: #FFFF99;*/
			}
		}
	}

	/* Labels for all the sections of the pop-up form */
	.field label.left {
		font-size: $SectionHeaderFontSize;
		font-weight: bold;
		width: 100%;
		float: none;
		color: $SectionHeaderColor;
	}

	/* Exception for a label that is inline with the selector dropdown box */
	#ParentID {
		label.left {
		    padding: 8px 0 8px 0;
			float: right !important;
		}
	}

	.Actions {
		float: right;
		margin: 0;
	}
}

/** ------------------------------------------------------------------
* Titlebar for pop-up dialog.
* ----------------------------------------------------------------- */
@import "compass";
@import "compass/css3";
@import "compass/utilities";
.ui-dialog-titlebar.ui-widget-header {
    font-size: $SectionHeaderFontSize;
	background-color: #b0bec7;
	padding: 8px 8px 6px 16px;

	border-bottom: 2px solid #8399a7;
	border-radius: 4px 4px 0 0;
	@include background-image(linear-gradient(#ced7dc, #92a5b2));
}
