/**
 * Style  custom to the CMSMain admin interface. CMSMain extends the built in 
 * sapphire admin section styles. As much as possible we want to use those 
 * built in styles. If anything in this file can be implemented in a generic 
 * way then it should be include in the admin scss files.
 *
 * @package cms
 */

/** ------------------------------------------------------------------
 * Page History Section.
 * ----------------------------------------------------------------- */
#cms-page-history-versions {
	tr {
		&.loading {
			color: #999;
			
			td {
				
				&:hover {
					cursor: none;
				}
			}
		}
	}
	td {
		&:hover {
			cursor: pointer;
		}
	}
}