*
{
	margin: 0px;
	padding: 0px;
}

.clickBox
{	
	width: 7px;
	height: 7px;
	background-color: red;
	position: absolute;		
}
.leftUpperClickBox
{
	cursor: nw-resize;
}

.leftMiddleClickBox
{
	cursor: e-resize;
}

.leftLowerClickBox
{
	cursor: ne-resize;
}

.rightUpperClickBox
{
	cursor: ne-resize;
}

.rightMiddleClickBox
{
	cursor: w-resize;
}

.rightLowerClickBox
{
	cursor: nw-resize;
}

.upperMiddleClickBox
{
	cursor: n-resize;
}

.lowerMiddleClickBox
{
	cursor: n-resize;
}
.inline
{
	display: inline;
}
#mainContainer
{
	width: 100%;
	height:600px;	
}
#imageContainer
{
	position: absolute;
}
#menuBarContainer
{
	border-bottom: 1px solid;
	height: 100px;
}
.floatRight
{
	float: right;
}
#loadingIndicatorContainer
{
	display: none;
	z-index: 1000;
	position: absolute;
}
#fakeImg
{
	display: none;
}
#image
{
	width: 100%;
	height: 100%;
}
#cropBox
{
	position: absolute;
}
.greyBox
{
	background-color: black;
	position: absolute;
	opacity: 0.5;
}
#mainContainer
{
	border-color: black;
	border-style: solid;
	background-color: white;
	margin: 0px;
	position: absolute;
	top: 20px;
	padding: 0px;
}
