assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.solr
.idea
.DS_Store
.ea
apache
advancedworkflow/
buildtools/
cms/
cwp/
docsviewer/
framework/
fulltextsearch/
iframe/
multivaluefield/
nginx
queuedjobs/
registry/
restfulserver/
sortablegridfield/
subsites/
tags
taxonomy/
testdata/
testsession/
themes/
translatable/
userforms/
vendor/
versionedfiles/
versionfeed/

