language: php

sudo: false

addons:
  apt:
    packages:
      - tidy

addons:
  firefox: "31.0"

env:
  global:
    - CORE_RELEASE=3

matrix:
  include:
    - php: 5.3
      env: DB=MYSQL
    - php: 5.4
      env: DB=PGSQL
    - php: 5.5
      env: DB=SQLITE
    - php: 5.6
      env: DB=MYSQL PDO=1
    - php: 5.6
      env: DB=MYSQL BEHAT_TEST=1

before_script:
 - composer self-update || true
 - phpenv rehash
 - phpenv config-rm xdebug.ini
 - git clone git://github.com/silverstripe-labs/silverstripe-travis-support.git ~/travis-support
 - "if [ \"$BEHAT_TEST\" = \"\" ]; then php ~/travis-support/travis_setup.php --source `pwd` --target ~/builds/ss; fi"
 - "if [ \"$BEHAT_TEST\" = \"1\" ]; then php ~/travis-support/travis_setup.php --source `pwd` --target ~/builds/ss --require silverstripe/behat-extension; fi"
 - cd ~/builds/ss
 - php ~/travis-support/travis_setup_selenium.php --if-env BEHAT_TEST
 - php ~/travis-support/travis_setup_php54_webserver.php --if-env BEHAT_TEST

script:
 - "if [ \"$BEHAT_TEST\" = \"\" ]; then vendor/bin/phpunit cms/tests; fi"
 - "if [ \"$BEHAT_TEST\" = \"1\" ]; then vendor/bin/behat @cms; fi"

after_failure:
 - php ~/travis-support/travis_upload_artifacts.php --if-env BEHAT_TEST,ARTIFACTS_KEY --target-path $TRAVIS_REPO_SLUG/$TRAVIS_BUILD_ID/$TRAVIS_JOB_ID --artifacts-base-url https://s3.amazonaws.com/$ARTIFACTS_BUCKET/

branches:
  except:
    - 2.1
    - 2.2
    - 2.3
    - translation-staging
