
.good td {
	color: green;
}

.warning td {
	color: orange;
}

.testResults .error td {
	border: 1px #CCC solid;
	color: red;
}

p.error {
	padding: 0.5em;
	background-color: #DDD;
	border: 1px #CCC solid;
	color: red;
}
p.warning {
	padding: 0.5em;
	background-color: #DDD;
	border: 1px #CCC solid;
	color: orange;
}
p.good {
	padding: 0.5em;
	background-color: #DDD;
	border: 1px #CCC solid;
	color: #0C0;
}

.testResults {
	border-collapse: collapse;
	font-size: 80%;
	width: 90%;
}
.testResults td {
	border: 1px #CCC solid;
	width: 400px;
	padding: 0.2em;
}
