<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="SilverStripe">
	<description>CodeSniffer ruleset for SilverStripe coding conventions.</description>

	<!-- base rules are PSR-2 -->
	<rule ref="PSR2" >
		<!-- Current exclusions -->
		<exclude name="PSR1.Methods.CamelCapsMethodName" />
		<exclude name="PSR2.Classes.PropertyDeclaration.Underscore" />
		<exclude name="Squiz.Classes.ValidClassName.NotCamelCaps" />
		<exclude name="Generic.Files.LineLength.TooLong" />

		<!-- CMS specific exclusions (high priority to fix) -->
		<exclude name="PSR1.Classes.ClassDeclaration.MissingNamespace" />
		<exclude name="PSR1.Classes.ClassDeclaration.MultipleClasses" />
	</rule>
</ruleset>

