/**
 SilverStripe Black Candy Theme
 http://www.silverstripe.com
 
 IE6 Hacks Stylesheet. 
 */

#Sidebar li ul li ul li a {
	font-size: 0.8em;
}
#Sidebar li ul li a.current,
#Sidebar li ul li a.current:hover {
	background: #BDBDBD;
}
#Sidebar li a:hover {
	width: 185px;
}
#Sidebar li ul li a:hover {
	background: none;
	width: 160px;
}
	#Sidebar li li li a.current,
	#Sidebar li li li a.current:hover {
	 width: 165px;
	 background: #BDBDBD url(../images/sidebarSubMenuCurrentIE.gif) no-repeat left center;
	 }
#Sidebar li li li {
	font-size: 0.8em;
}
/** Again IE does not like Margins and padding around my nice forms **/
label {
	margin-bottom: -10px;
}

input.action {
	padding: 2px !important;
}
#Sidebar input.action {
	width: 50px;
	margin-top: -27px;
}
#Sidebar .middleColumn {
	width: 112px;
}
span.middleColumn {
	display: inline-block;
}