/**
 * This support file is used to style the WYSIWYG editor in the CMS
 */

@import "typography.css";

body.mceContentBody {
	min-height: 200px;
	font-size: 62.5%;
}
body.mceContentBody a.broken {
	background-color: #FF7B71;
	border: 1px red solid;
}
